Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  bugprone-*,
  readability-*,
  portability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
AnalyzeTemporaryDtors: false
FormatStyle: file
